button {
  width: 100%;
  border: none;
  display: grid;
  place-items: center;
  padding: 5px 0px 0px 0px;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 100ms ease, transform 100ms ease;
}

button:active {
  transform: translateY(5px);
  box-shadow: none;
}

.number {
  color: var(--color-font-button-number);
  background-color: var(--color-button-number);
  box-shadow: 0 5px 0 0 var(--color-shadow-button-number);
}

.number:hover {
  background-color: var(--color-button-number-hover);
}

.operation {
  color: var(--color-font-button-operation);
  background-color: var(--color-button-operation);
  box-shadow: 0 5px 0 0 var(--color-shadow-button-operation);
}

.operation:hover {
  background-color: var(--color-button-operation-hover);
}

.delete {
  color: var(--color-font-button-del);
  background-color: var(--color-button-del);
  box-shadow: 0 5px 0 0 var(--color-shadow-button-del);
}

.delete:hover {
  background-color: var(--color-button-del-hover);
}

.big {
  grid-column: span 2;
}

.equal {
  color: var(--color-font-button-result);
  background-color: var(--color-button-result);
  box-shadow: 0 5px 0 0 var(--color-shadow-button-result);
}

.equal:hover {
  background-color: var(--color-button-result-hover);
}
