.calc-button {
  width: 100%;
  border: none;
  padding-top: 6px;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.number {
  color: var(--color-font-button-number);
  background-color: var(--color-button-number);
}

.number:active {
  background-color: var(--color-button-number-hover);
}

.operation {
  color: var(--color-font-button-operation);
  background-color: var(--color-button-operation);
}

.operation:active {
  background-color: var(--color-button-operation-hover);
}

.delete {
  color: var(--color-font-button-del);
  background-color: var(--color-button-del);
}

.delete:active {
  background-color: var(--color-button-del-hover);
}

.big {
  grid-column: span 2;
}

.equal {
  color: var(--color-font-button-result);
  background-color: var(--color-button-result);
}

.equal:active {
  background-color: var(--color-button-result-hover);
}
