.header {
  height: 50px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  box-sizing: border-box;
}

.calculator {
  width: 380px;
  height: 590px;
  padding: 0px 15px;
  box-sizing: border-box;
}

.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0px 20px;
  font-size: 45px;
  background-color: var(--color-screen);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color-value);
  box-sizing: border-box;
}

.buttonbox {
  width: 100%;
  height: calc(100% - 165px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
  background-color: var(--color-keypad);
  padding: var(--white-space);
  border-radius: 15px;
  box-sizing: border-box;
}
