.header {
  height: 40px;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  color: white;
  box-sizing: border-box;
}

.header-section {
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
}

.calculator {
  width: 380px;
  height: 590px;
  padding: 0px 10px;
  box-sizing: border-box;
}

.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 15px;
  padding: 0px 20px;
  font-size: 45px;
  background-color: var(--color-screen);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color-value);
  box-sizing: border-box;
}

.buttonbox {
  width: 100%;
  height: calc(100% - 165px);
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-gap: 15px;
  background-color: var(--color-keypad);
  padding: var(--white-space);
  border-radius: 15px;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px 0px 0px 2px;
  color: var(--color-font-theme);
}

a {
  text-decoration: none;
  color: var(--color-font-link);
}

a:hover {
  text-decoration: underline;
}
