:is(:root, :root[data-theme="neutral"]) {
  --radius: 12px;
  --white-space: 20px;
  --color-background: linear-gradient(0deg, #b0e1fc, #0a559b);

  --color-track: hsl(223, 31%, 20%);
  --color-thumb: hsl(6, 63%, 50%);
  --color-font-theme: #ffffff;
  --color-font-123: #ffffff;
  --color-font-link: #f48e8e;
  --color-screen: hsl(224, 36%, 15%);
  --color-history: #49619d;
  --color-value: #ffffff;
  --color-keypad: hsl(224, 32%, 20%);

  --color-button-number: hsl(30, 25%, 89%);
  --color-button-number-hover: hsl(43, 83%, 79%);
  --color-font-button-number: hsl(221, 14%, 31%);

  --color-button-del: hsl(225, 45%, 61%);
  --color-button-del-hover: hsl(225, 82%, 61%);
  --color-font-button-del: #ffffff;

  --color-button-operation: hsl(25, 30%, 61%);
  --color-button-operation-hover: hsl(25, 45%, 51%);
  --color-font-button-operation: #ffffff;

  --color-button-result: hsl(6, 58%, 47%);
  --color-button-result-hover: hsl(6, 75%, 51%);
  --color-font-button-result: #ffffff;
}

:root[data-theme="dark"] {
  --radius: 12px;
  --white-space: 20px;
  --color-background: linear-gradient(to bottom, #434343, #000000);
  --color-track: rgb(23, 24, 26);
  --color-thumb: hsl(176, 100%, 44%);
  --color-font-theme: rgb(225, 247, 235);
  --color-font-123: rgb(225, 247, 235);
  --color-font-link: hsl(176, 100%, 44%);
  --color-screen: rgb(23, 24, 26);
  --color-history: #555960;
  --color-value: #fff;
  --color-keypad: rgb(23, 24, 26);

  --color-button-number: rgb(34, 36, 39);
  --color-button-number-hover: rgb(70, 72, 74);
  --color-font-button-number: #fff;

  --color-button-del: #d33640;
  --color-button-del-hover: #f9414d;
  --color-font-button-del: #fff;

  --color-button-operation: rgb(241, 154, 55);
  --color-button-operation-hover: rgb(255, 184, 78);
  --color-font-button-operation: #ffffff;

  --color-button-result: rgb(100, 198, 123);
  --color-button-result-hover: rgb(64, 226, 151);
  --color-font-button-result: #fff;
}

:root[data-theme="light"] {
  --radius: 12px;
  --white-space: 20px;
  --color-background: hsl(0, 0%, 90%);
  --color-track: hsl(0, 5%, 81%);
  --color-thumb: hsl(25, 98%, 40%);
  --color-font-theme: #000000;
  --color-font-123: #000000;
  --color-font-link: #f48e8e;
  --color-screen: hsl(0, 6%, 85%);
  --color-history: #a59898;
  --color-value: #000000;
  --color-keypad: hsl(0, 7%, 81%);

  --color-button-number: hsl(45, 7%, 89%);
  --color-button-number-hover: hsl(43, 89%, 76%);
  --color-font-button-number: hsl(60, 10%, 19%);

  --color-button-del: hsl(185, 42%, 37%);
  --color-button-del-hover: hsl(185, 60%, 42%);
  --color-font-button-del: #ffffff;

  --color-button-operation: hsl(25, 32%, 69%);
  --color-button-operation-hover: hsl(25, 50%, 58%);
  --color-font-button-operation: #ffffff;

  --color-button-result: hsl(25, 98%, 40%);
  --color-button-result-hover: hsl(6, 75%, 51%);
  --color-font-button-result: #ffffff;
}
