@media only screen and (min-width: 768px) {
  .calculator {
    width: 570px;
    height: 640px;
    padding: 0px 15px;
    box-sizing: border-box;
  }

  button {
    font-size: 32px !important;
  }

  .buttonbox {
    grid-gap: 20px !important;
  }

  .dropdown-items {
    width: 350px !important;
  }
}
