html {
  box-sizing: border-box;
  background: var(--color-background);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "League Spartan", sans-serif;
}

body {
  margin: 0;
  font-size: 32px;
  padding: 0 var(--white-space);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
}
