#buttonbox {
  width: 100%;
  height: calc(100% - 165px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
  background-color: hsl(224, 32%, 20%);
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}
