#calculator {
  width: 375px;
  height: 100%;
  background-color: hsl(224, 36%, 15%);
}

@media only screen and (min-width: 992px) {
  #calculator {
    width: 1440px;
    height: 100%;
    background-color: hsl(224, 36%, 15%);
  }
}
