#calculator {
  width: 375px;
  height: 540px;
}

/* @media only screen and (min-width: 992px) {
  #calculator {
    width: 1440px;
    height: 540px;
    background-color: hsl(223, 68%, 32%);
  }
} */
